.background{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 130%;
    position: absolute;
    top: 66px;
    right: 0;
}

.summerydiv{
    background-color: orange;
    width: 50%;
    height: 50%;
    position: relative;
    top: 10%;
    left: 25%;
    border-radius: 5px;
    padding: 10px;
}

.btnsdiv{
    display: flex;
    gap: 0.5rem;
    position: relative;
    transform: translateY(50vh);
    left: 70%;
}

.confirmbtn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.cancelbtn{
    background-color: #f44336;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}