.card {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    height: 500px;
    width: 700px;

    border: 2px solid hsl(0, 21%, 44%);
    border-radius: 10px;
}
.create_account_button {
    background-color: #ffffff;
    color:  hsl(0, 69%, 44%);
    border: 2px solid hsl(0, 74%, 46%);
    font-weight: bold;
    padding: 10px 200px;
    border-radius: 5px;
    cursor: pointer;
}
.create_account{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.eyeIcon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.inputContainer{
    position: relative;
}

.loginButton{
    color: white;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 400px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border:none;
    background-color: hsl(7, 73%, 35%);
    cursor: pointer;
}
.loginButton:hover{
    background-color: hsl(7, 73%, 30%);
}

.create_account_button:hover{
    background-color: hsl(0, 33%, 91%);
}
.eyeIcon:hover{
    color: hsl(0, 7%, 65%);
}