.cartdiv{
    display: grid;
    grid-gap: 20px;
    background-color: rgb(225, 225, 225);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 60%;
    width: 20%;
    position: absolute;
    top: 10%;
    left: 80%;
}

.cartdiv::before{
    content: '';
    position: absolute;
    top: -9px;
    left: 65%;
    transform: translateX(-50%) rotate(180deg);
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: rgb(225, 225, 225) transparent;
}

.cartbutton{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    height: 50px;
}
