.additional{
    background-color: rgb(255, 252, 252);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    height: 50%;
}

.head{
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.showdiv{
    font-size: 12px;
}