.cartsumm{
    background-color: rgb(255, 252, 252);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
}

.head{
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.paymentbtn{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    height: 50px;
}

.itemslist{
    margin-top: 2px;
    margin-bottom: 2px;
    display: grid;
    gap: 1px;
    height: 20vh;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
.total{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}